[2021-06-08 16:40] pimartos opened #1 "Ultra96-v2: Add a new community support board"
Hi,
I would like to add the [ultra96-v2](https://www.avnet.com/wps/portal/us/products/new-product-introductions/npi/aes-ultra96-v2/) board to the list of community supported boards because it's popular, so more people could contribute to the ROS 2 HAWG

regards,
Pedro

[2021-06-09 11:28] vmayoral commented on #1
Thanks @pimartos, as pointed out at https://discourse.ros.org/t/announcing-the-hardware-acceleration-wg-meeting-1/20826/6?u=vmayoral, it should be fairly easy and consist basically on creating the firmware artifacts required for the new board and organizing them in a structured manner so that the hooks we've created for the ROS 2 meta build system and meta build tools pick the board automatically.

[2021-06-09 18:31] pimartos commented on #1
Hi,
Ok, thanks. May I help in some way? I have a Ultra96-V2 board so I can do some tests if you need.

regards,
Pedro

[2021-07-09 09:38] vmayoral opened #2 ""Adding your board" recipe"
Instructions to add a new board to the community.

[2021-07-09 09:39] vmayoral opened #3 "Adding a backlog management infrastructure"

[2021-07-09 09:39] vmayoral commented on #3
Using Projects. See https://github.com/ros-acceleration/community/projects/1

[2021-07-09 09:39] #3 closed

[2021-07-09 09:42] vmayoral opened #4 "Add Instant messaging to community"
Using [Matrix](https://matrix.to/#/+hawg:matrix.org) as an open network for secure, decentralized communication.

[2021-07-09 09:45] vmayoral commented on #3
See https://github.com/ros-acceleration/community/commit/9c342e07621add5a992d3d93d89e782c846f60b5

[2021-07-09 09:45] vmayoral commented on #4
https://github.com/ros-acceleration/community/commit/9c342e07621add5a992d3d93d89e782c846f60b5

[2021-07-09 09:45] #4 closed

[2021-07-09 09:46] vmayoral opened #5 "Push publicly ament extensions"
Extend the ROS 2 meta build system to include hardware acceleration capabilities.

[2021-07-09 09:46] vmayoral commented on #5
Done with https://github.com/ros-acceleration/ament_vitis

[2021-07-09 09:46] #5 closed

[2021-07-09 09:50] vmayoral opened #6 "Push publicly colcon extensions"
Extend the ROS 2 meta build tools (`colcon`) to facilitate hardware acceleration development flows.

[2021-07-09 09:53] vmayoral opened #7 "Push publicly firmware for hardware acceleration"
Push to a public repository in the organization the `firmware` artifacts to simplify development flows in a ROS 2-centric manner while maintaining a technology (FPGAs/GPUs) and target (embedded, workstation, data center) agnostic.
- [x] Disclose `acceleration_firmware` ROS 2 package
- [x] Disclose `acceleration_firmware_*` ROS 2 packages (one for each board supported)

[2021-07-09 09:53] vmayoral commented on #7
@KiranVishal pushing this to you. Ping me whenever you are done with your end and i'll take it back.

[2021-07-09 09:55] vmayoral opened #8 "Push publicly reference examples repository"
Provide reference examples and blueprints for acceleration architectures used in ROS 2 and Gazebo.

[2021-07-09 09:56] vmayoral opened #9 "Push publicly testing and benchmarking methodology for acceleration kernels"
Task list:
- [x] Describe the benchmarking architecture in a formal manner https://github.com/ros-infrastructure/rep/pull/324/files#diff-f230b6aa06d86bf594d8e431300e453ad7343e8f4b1932252b6d36c62a8b5e0aR203-R267
- [x] Create tracepoint examples for hardware acceleration as a fork of `tracetools` (fork might get integrated into `tracetools` in the future if appropriate) https://github.com/ros-accele

[2021-07-09 09:57] vmayoral opened #10 "Survey the community interests on acceleration for ROS 2 and Gazebo"
Follow past surveys in the community. Disclose results afterwards.

[2021-07-09 09:57] vmayoral commented on #10
*To be done later, once there's additional traction*.

[2021-07-09 09:57] vmayoral opened #11 "Demonstrators with real robots"
Produce demonstrators with robot components, real robots and fleets that include acceleration to meet their targets.

[2021-09-27 13:13] vmayoral commented on #7
See https://github.com/ros-acceleration/acceleration_firmware_kv260.

[2021-09-27 13:13] #7 closed

[2021-09-27 13:13] vmayoral commented on #2
See https://github.com/ros-infrastructure/rep/pull/324

[2021-09-27 13:13] #2 closed

[2021-09-27 13:15] vmayoral commented on #1
@pimartos to follow up on this, instructions to proceed with the port is somewhat reflected in https://github.com/ros-infrastructure/rep/pull/324. An example firmware repo is available at https://github.com/ros-acceleration/acceleration_firmware_kv260.

I'm pushing this back to you. Feel free to launch questions in here if you have any specific ones.

[2021-09-27 13:16] vmayoral commented on #6
https://github.com/ros-acceleration/colcon-acceleration

[2021-09-27 13:16] #6 closed

[2021-09-27 13:18] #8 closed

[2021-09-27 13:30] pimartos commented on #1
Hi,
Ok, I will work with 0.6.0 (last time I checked v0.6.0 was in alpha, good to see that is prerelease) :-)

[2021-09-27 13:39] vmayoral commented on #1
That's right! `0.6.0` was shipped in [KRS's alpha](https://github.com/vmayoral/KRS/releases). Ping me if you struggle with anything.

[2021-09-28 12:50] vmayoral commented on #1
@pimartos that's an awesome first list. Thanks for puting it together. So that it can be translated to others, my recommendation for the official *adding new boards to HAWG* should be as follows:

1. Check out the [Initial draft of REP-2008 - ROS 2 Hardware Acceleration Architecture and Conventions](https://github.com/ros-infrastructure/rep/pull/324)
2. Create your own firmware repository (e.g. `a

[2021-10-03 12:01] kscharan commented on #1
Hello @pimartos ,
I have an Ultra96-V2 board with me. Is there anything I can contribute to here?

[2021-10-03 20:49] pimartos commented on #1
Hi,
I am starting, I installed ros and krs and I am triying to build the examples.
If you didn't do it yet, do the same, so we can have a build enviaron mente

Regards,
Pedro

[2021-10-04 02:26] pimartos commented on #1
@vmayoral, hi, I installed KRS and downloaded the examples (I openend an issue about not having vitis_common). I am not able to build the samples, I receive this error:
--------------------------------------------------------------------------------------------------------------------------------------------------------------------
$ colcon build --build-base=build-kv260 --install-base=install-kv2

[2021-10-04 06:38] vmayoral commented on #1
@pimartos it indeed seems like you are not installing kv260 files appropriately.

Can you confirm you're following the 6 steps at https://xilinx.github.io/KRS/sphinx/build/html/docs/install.html appropriately? I uploaded a video to help navigate the process, have a look.

Also, to debug your setup, inspect the following:

[code]

Also, manually, have a look at the following directory `<your-worksp

[2021-10-04 06:42] vmayoral commented on #1
No need to use PetaLinux for evaluating KV260 (though you'll will need to rely on it for building the firmware files of Ultra96v2, but with its corresponding BSP). I specifically pushed for abstracting Yocto/PetaLinux aspects from the user.

Not sure what you mean by this, as pointed out above. You don't need to use anything else but KRS's instructions for getting up to speed. PetaLinux BSP for KV

[2021-10-04 12:33] pimartos commented on #1
Hi @vmayoral
Yes, I can do the install without problem (it builds all 14 packages); I have the files under <ws>/acceleration/firmware/kv260; and colcon acceleration list gives kv260*
The problem is when I try to build the first sample (0: ROS 2 Publisher); when I try to build the package with (as stated in the sample):

colcon build --build-base=build-kv260 --install-base=install-kv260 --merge-ins

[2021-10-04 13:27] vmayoral commented on #1
From what you've shared @pimartos, it seems cross-compilation is failing because it doesn't find the right resources ([this one](https://support.xilinx.com/s/article/73705?language=en_US) hints about missing ones in the sysroot). This, again, goes back to firmware not properly deployed. I experienced issues like those in the past while developing, <ins>when firmware wasn't properly installed</ins>

[2021-10-04 23:14] pimartos commented on #1
@vmayoral finally I solved it; I was using vitis 2021.1 (because I wanted to try vitis AI), I installed vitis 2020.2 and the first example compiled. When I tried to generate the sdcard (just to check that it is possible), the sd_card.img file was generated, but I had this message:
----------------------------------------------------------------------------------------------------------------------

[2021-10-05 00:03] pimartos commented on #1
@vmayoral
I found what was that "Something went wrong while fetching the raw image UNITS.\n" error....
I have a spanish (latin america) ubuntu install, so the output of fdisk is "Unidades" not "Units"; so the script fails because search for the string "Units" and the output is in spanish "Unidades". What should be the best way to manage this?

[2021-10-05 01:45] pimartos commented on #1
@vmayoral  With the spanish "Unidades" in .py scripts, Now I can build sd_card-img for Hello Xilinx, but when I try to run in the emulator with $ colcon acceleration emulation sw_emu install-kv260
I get:
-----------------------------------------------------------------------------------------------------------------------------------------------------------
SECURITY WARNING: This class invokes exp

[2021-10-05 07:21] vmayoral commented on #1
@pimartos, glad to see the progress! Thanks for the updates and for answering your hurdles, that helps a lot future users. I took the liberty of slightly editing your comments using Markdown syntax. Feel free to have a look at it, it may help the readibility of future queries.

Regarding:

Shame on me for not having considered this given that I'm from Spain! This is coded in the [`colcon-accelerat

[2021-10-05 16:30] pimartos commented on #1
OK, I will do it :-D
Now I can start porting :-)

[2021-10-27 16:16] vmayoral opened #13 "Simplifying ROS 2 embedded flows with colcon extensions."
An extension for colcon-core to include Hardware Acceleration capabilities and simplify acceleration flows. Initially targeting the following mechanisms:

- [x] selection across embedded targets (capable/not-capable of doing hardware acceleration) easily
- [x] list available embedded targets
- [x] simplify configuring Linux kernel (provide at least two default configurations)
- [x] simplify config

[2021-10-27 16:17] #13 closed, assigned to vmayoral

[2021-11-01 14:59] pimartos commented on #1
Hi @vmayoral
An update of the status: Finally I managed to get the ultra96 version of the linux files (I think so). I have a bootable sdcard made from the avnet ultra96 BSP and I builded it locally with Petalinux, so I will start porting the configuration files and try to build `acceleration_firmware_ultra96v2`. As soon as I have a working build, I would ask for the repository in the organization.

[2021-11-02 12:50] vmayoral commented on #1
Thanks for letting us know @pimartos and great work!

[2021-11-03 15:33] vmayoral opened #14 "Reference system for hardware acceleration (complete computational graph)"
Rationale of this ticket is to define a reference computational graph system for the hardware acceleration WG efforts that should serve as a reference resource for benchmarking purposes (in concert with other efforts including https://github.com/ros-acceleration/community/issues/9).

- [ ] Explore Real-Time WG's https://github.com/ros-acceleration/community/issues/9 and evalute fitness
  - seems a

[2021-11-05 02:58] pimartos commented on #1
Hi @vmayoral
I made some progress with __acceleration_firmware_ultra96v2__, so I have good and bad news:

_The good news:_
After modifying the build scripts and use the linux files from my Petalinux build, the sequence

`colcon build --merge-install`

`source install/setup.bash`

`colcon acceleration select ultra96v2`

`colcon build --build-base=build-ultra96v2 --install-base=install-ultra96v2 --m

[2021-11-05 07:18] vmayoral commented on #1
Thanks for the update @pimartos. Glad to hear you're now able to create images with the colcon extensions and have them working out nicely. It sounds like you set up the Vitis platform successfully and got the basic things set to build acceleration kernels.

That's probably because you don't have ROS 2 meta-layers into your Yocto/PetaLinux project. You can add them yourself manually, that' part of

[2021-11-05 14:31] vmayoral commented on #1
I'd say, give it a try to the `meta-ros` layers. Here're my notes from when I enabled it in the past (*they are not meant to be a tutorial, so things will likely fail since this was solely for myself*). Refer to the [official build instructions](https://github.com/ros/meta-ros/wiki/OpenEmbedded-Build-Instructions) if you need further intuition:

<details><summary>some (informal) notes while settin

[2021-11-10 17:34] pimartos commented on #1
Hi, I am trying to build ROS inside Petalinux, but I don't have access to gitlab to clone meta-ros from there. Should I clone from `https://github.com/ros/meta-ros/tree/zeus`?
Regards

[2021-11-10 19:36] vmayoral commented on #1
Yes, that’s the official one. Use that one indeed. Ours is just a private
fork that builds on top of the official meta-ros one and AFAIK most changes
have been contributed upstream, so you’re good to go with meta-ros.

El El mié, 10 nov 2021 a las 18:34, pimartos ***@***.***>
escribió:

[2021-11-12 14:10] pimartos commented on #1
Hi @vmayoral
I included `meta-ros` layer in the petalinux project, I builded it (it took another 12 hours) and I have a _rootfs-wic_ file with the root filesystem, but the `rootfs.ext4` and `rootfs.ext4.gz` files are not created, what could I have been missed?

[2021-11-12 14:30] vmayoral commented on #1
@pimartos, AFAIK those rootfs formats are enabled with `petalinux-config` (possibly with `petalinux-config -c rootfs`, or maybe with `petalinux-config -c kernel`, I don't rememer specifically).

You may have disabled them, or perhaps the recipe you're building does so. Nevertheless, I'm not using neither of those files to build the `acceleration_firmware_*` ROS 2 packages. See the `ARTIFACTS.md` f

[2021-11-12 15:17] pimartos commented on #1
HI @vmayoral
I found the problem: in the *petalinux-image-minimal.bbappend* file I tried to build over _avnet-image-minimal.bb_ but this created some kind of circular reference and the rootfs.* root file system files were not created, I changed to _petalinux-image-minimal.bb_ and now I have the rootfs files. I am updating the _acceleration_firmware_ultra96v2_ with these new linux files.

[2021-11-12 15:45] vmayoral commented on #1
Yeah, that makes sense and matches with [previous indications](https://github.com/ros-acceleration/community/issues/1#issuecomment-961943385). Glad you got it!

[2021-11-12 16:10] pimartos commented on #1
@vmayoral
Finally I have the `hello_xilinx` example working on the **ultra96v2 board** =)
I am happy, it's a very good ending for the week
Attached are the tty capture and the full boot log from putty
Next week I will try the other examples
Happy weekend! :-)

![ultra96v2](https://user-images.githubusercontent.com/1771751/141497770-416dc9e3-d273-41a1-aea1-e97c28f7d5c2.jpg)
[ultra96v2.log](https://

[2021-11-15 06:53] vmayoral commented on #1
This fantastic! Congratulations @pimartos, happy to see this. I'd recommend you try and build some simple accelerated ROS 2 Node among the ones available in [acceleration_examples](https://github.com/ros-acceleration/acceleration_examples). That will offer the ultimate validation that the architecture is scalable and works across SOMs/custom-boards.

Happy to suport with that.

In addition, I'd sa

[2021-11-16 09:44] GugliZan commented on #1
Hi @vmayoral ,
thank you for pointing me there. I will review this part before considering to open a ticket, such that we can organize a priori the work and be more efficient.
Thank you @pimartos for your great initiative and work!

[2021-11-16 13:01] pimartos commented on #1
Hi @vmayoral
Yesterday I had some issues to build the hardware accelerated examples, but I think that's because I tweaked the workspace, Today I will start a new workspace from the ground up.
Ok, I would like to make a small presentation about the experience porting to the ultra96v2 board, I think that 5 minutes will be enougth, And I will be very happy contributing to the _adding new boards_ sect

[2021-11-16 20:04] pimartos commented on #1
@vmayoral I started a new workspace and I am having issues building `offloaded_doublevadd_publisher`
First I have a lot of warnings saying
/tools/Xilinx/Vitis/2020.2/gnu/aarch64/lin/aarch64-linux/x86_64-petalinux-linux/usr/bin/aarch64-xilinx-linux/aarch64-xilinx-linux-ld.real: /media/usuario/SeagateLinux/krs_ws/install/lib/libvitis_common.a(utilities.cpp.o): Relocations in generic ELF (EM: 62)

an

[2021-11-17 06:10] vmayoral commented on #1
/tools/Xilinx/Vitis/2020.2/gnu/aarch64/lin/aarch64-linux/x86_64-petalinux-linux/usr/bin/aarch64-xilinx-linux/aarch64-xilinx-linux-ld.real: /media/usuario/SeagateLinux/krs_ws/install/lib/libvitis_common.a(utilities.cpp.o): Relocations in generic ELF (EM: 62)

@pimartos, [vitis_common](https://github.com/ros-acceleration/vitis_common) builds fine in my workspace and generates the appropriate librari

[2021-11-18 18:45] pimartos commented on #1
Hi @vmayoral
The _vitis_common_ problem seems to be that when I build targetting ultra96v2, the `libvitis_common.a` is taken from _install_ instead of _install-ultra96v2_ so it's a x86_64 version

I messed up my petalinux project, I am in the process of rebuilding it, as soon as I recover it, I will upload  `acceleration_firmware_ultra96v2` to the repository

By the way: the `image_proc_adaptive`

[2021-11-18 19:38] vmayoral commented on #1
Thanks for the update @pimartos.

Mmm, that's pretty weird. Have you applied/sourced the workspace as an overlay of the workspace (`source install/setup.bash`)? I'd need to reproduce this to help you.

I see the problem in here. You're building the latest (`main`) branch of https://github.com/ros-acceleration/acceleration_examples, which I'm using as a development branch and will often contain add

[2021-11-19 14:04] pimartos commented on #1
Hi @vmayoral

Yes, I sourced the workspace; If I don't solve it today, I will start the Petalinux Project from scratch, now occupies 98% of a 160GB partition and fails to build because it runs out of space; I extended the partition to 260GB, but I think that something is wrong inside the project (probably a mixing between recipes _avnet-image-minimal_ and _petalinux-image-minimal_).
The good news

[2021-11-22 05:40] vmayoral commented on #9
Disclosed and contributed [`adaptive_component`](https://github.com/ros-acceleration/adaptive_component), a simple composable container for Adaptive ROS 2 Node computations. Select between FPGA, CPU or GPU at run-time.

Examples of using `adaptive_component`:

- [An Adaptive ROS 2 Node](https://github.com/ros-acceleration/acceleration_examples/blob/main/doublevadd_publisher/src/doublevadd_publishe

[2021-11-23 01:54] pimartos commented on #1
Hi @vmayoral
I made the alpha release of the `acceleration_firmware_ultra96v2`. Please check that everything is fine. This release works with the software examples (`ROS 2 publisher`, `Hello Xilinx` and `HLS in ROS 2`), but with the hardware accelerated example (`Offloading ROS 2 publisher`) the example builds ok, but the directory _/lib/firmware/xilinx/_ is not created in the sd image.

[2021-11-23 06:22] vmayoral commented on #1
Thanks for putting that together @pimartos. I gave it a quick try and here're a few comments:
- ✅ `acceleration_firmware_` seems to be properly structured, the package builds well and deploys files where appropriate, connecting nicely with the `colcon acceleration` extensions:

[code]
- ✅ rootfs *creation/handling* tools seem to be just fine, I could successfully create simple images using a Linux

[2021-11-23 16:38] pimartos commented on #1
Hi @vmayoral

I am able to run qemu from the petalinux project with _petalinux-boot --qemu --prebuilt 3_
When I try with _colcon acceleration emulation sw_emu --no-install_; it hangs with the message _Starting PL simulation - Running PLL Laucher_. This seems to be related to [this](https://support.xilinx.com/s/article/76511?language=en_US), I will investigate more
By the way: Why emulation with kv

[2021-11-24 08:57] vmayoral commented on #10
Survey created and available at https://forms.gle/jBfhRQ7osBTLJgKGA.

Disseminated at:
- https://discourse.ros.org/t/hardware-acceleration-in-ros-2-and-gazebo-survey/23228 (survey)
- https://community.gazebosim.org/t/hardware-acceleration-in-ros-2-and-gazebo-survey/1179
- https://www.linkedin.com/feed/update/urn:li:activity:6869194550569648128/
- https://www.reddit.com/r/ROS/comments/r10t4i/hardwa

[2021-11-25 16:31] pimartos commented on #1
Hi @vmayoral

I added `dfx-manager` and `dfxlib` to the image and `dfx-mgr daemon` starts; but when I do **$ ros2 acceleration list**; the returned list is empty.
The _offloaded_doublevadd_publisher_ is in /lib/firmware/xilinx and when I do **$ ros2 run offloaded_doublevadd_publisher offloaded_doublevadd_publisher** I get the same text than the example but with a

What could be missing?

[2021-11-25 20:29] vmayoral commented on #1
How about we get together in a quick call @pimartos and we peer-debug your issues? If you agree, let's bring the conversation to e-mail an we agree on a date/time.

[2021-12-03 16:59] pimartos commented on #1
Hi @vmayoral
First, thanks for your time with the call, it was very helpful. I am trying to see why `dfx-mgr` doesn't see the _offloaded_doublevadd_publisher_ kernel; so I would like to know how does `dfx-mgrd` noticed about the accelerators available. It just look inside _/lib_firmware/xilinx_? Is this a hardcoded path or is inside some config file?
I am using `main`branch of `dfx-mgr` could be p

[2021-12-08 02:49] pimartos commented on #1
Hi @vmayoral
I am stuck with this :-(
I tried the `release-2020.2.2_k26` of _dfx-mgr_ but it doesn't build (has a _implicit declaration_ error):

  214 |  lws_cmdline_option_handle_builtin(argc, argv, &info);
      |  ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
cc1: all warnings being treated as errors

Should I try to fix this release or could I use `master`branch without problems?

[2021-12-08 07:22] vmayoral commented on #1
Hello @pimartos,

Before answering your questions above, a few of my own:
- Did you manage to build the kernel appropriately against the Ultra96v2 Vitis platform? If so, are you able to load the bitstream into the PL?
- Provided it's loaded, you don't really need to use DFX capabilities (since the FPGA would already be programmed appropriately). There're a number of ways to do so and depend on you

[2021-12-13 22:28] pimartos commented on #1
Hi @vmayoral
I tried to load the kernel to the PL, the platform has `fpga-manager` and `fpgautil` to do so (but I didn't have _/lib/firmware_ in the rootfs).
When I loaded the kernel I had a DMA error:

[  122.681652] Modules linked in: iptable_nat nf_nat iptable_filter wilc_sdio(O) zynqmp_r5_remoteproc mali(O) zocl(O)
[  122.692004] CPU: 3 PID: 876 Comm: sh Tainted: G           O      5.4.0-xilin

[2021-12-17 10:46] vmayoral commented on #1
Hi @pimartos, thanks for the update, it seems there's something indeed wrong with your setup. To debug this, I'd be best to speak with the folks from AVNET who created the platform files you're using. Raise a ticket in their forums and/or point them here if you prefer. They should be able to advice which features where enabled in the hardware design (and/or provide them if appropriate). Configurat

[2022-01-23 23:06] soufien-gdaim commented on #1
Hi all,
I have the same error when I tried the Emulation SW, and I didn't understood how can I solve this error even after I read your comments. so can you please tell me how can I solve this error. To built this project I use Vitis 2020.2, petalinux 2020.2 with zc702 card (zynq7000).
With another project (Zybo7, I download the a prebuilt project), I didn't have problems, I can do Emulation sw, Em

[2022-01-24 07:03] vmayoral opened #17 "PORT: zc702 board community support"
Hi all,
I have the same error when I tried the Emulation SW, and I didn't understood how can I solve this error even after I read your comments. so can you please tell me how can I solve this error. To built this project I use Vitis 2020.2, petalinux 2020.2 with zc702 card (zynq7000).
With another project (Zybo7, I download the a prebuilt project), I didn't have problems, I can do Emulation sw, Em

[2022-01-24 07:05] vmayoral commented on #1
@soufien-gdaim, it sounds like you're onto a new board, let's please keep keep the discussion in this ticket focused around Ultra96v2, for the ZC702, refer to https://github.com/ros-acceleration/community/issues/17.

[2022-01-24 07:07] vmayoral commented on #1
@pimartos hope christmas treated you nicely 😄, do you have any updates since https://github.com/ros-acceleration/community/issues/1#issuecomment-996620707? Did you manage to run simple kernels by programming the PL using `BOOT.BIN` (which I believe is the default approach for Ultra96v2)?

If not, would you like to try any of the [other recommended approaches](https://xilinx-wiki.atlassian.net/wiki

[2022-01-24 07:10] vmayoral commented on #17
@soufien-gdaim can you elaborate more on your effort? can you describe what you've done so far? have you created an `acceleration_firmware_zc702` ROS 2 package that provides the firmware artifacts for cross-compilation? (see [REP-2008 PR](https://github.com/ros-infrastructure/rep/pull/324) for more details)

It sounds like you're trying to use the hardware acceleration extensions of ROS 2 from wit

[2022-01-24 14:42] pimartos commented on #1
Hi @vmayoral
I had a very busy new eve, I changed work so I had less time to work on the port.
Besides that, I hit a wall. It was impossible to load a bitstream using avnet-image-minimal, so I built a hardware platform from the ground up following [this](https://highlevel-synthesis.com/2021/08/14/how-to-create-ultra96v2-linux-based-platform-in-xilinx-vitis-2020-2/) instrucctions
with this I can lo

[2022-01-24 14:53] vmayoral commented on #1
Thanks a lot for the update @pimartos!

Some people say that adding some PL fixes it. I added a GPIO module, but with no luck.

It's great to hear that you can load bitstreams, you pretty much got it then!

Yeah, I bumped into some of these flaws myself as well 😞 when porting things to `2021.2`, I had to make the following adjustments in the device tree (either directly in the `system.dtb` or as o

[2022-01-24 15:07] pimartos commented on #1
Thanks! I will try this add. Currently I have a 2021.1 toolset, do you recommend to upgrade to 2021.2 and make the port with that newer toolset?

[2022-01-24 15:11] pimartos commented on #1
Ok, I will upgrade to 2021.2 and start over to build the platform. =)

[2022-01-24 21:47] soufien-gdaim commented on #17
Hi sir,
My goal is to create a Vitis 2020.2 hardware accelerator platform for the ZC702 board. So I use Petalinux 2020.2 to built the project and Vitis 2020.2 to create the platform by following many tutorials like :

https://projects.digilentinc.com/whitney-knitter/getting-started-with-the-arty-z7-in-petalinux-2020-2-c49b7a

https://projects.digilentinc.com/mohammad-hosseinabady2/vitis-2021-1-emb

[2022-01-25 08:19] vmayoral commented on #9
Pushed publicly [`ros2_kria`](https://github.com/ros-acceleration/ros2_kria) which examplifies a collection of ROS 2 packages which facilitate the integration of hardware acceleration capabilities for Xilinx's Kria SOM portfolio while aligned with the [HAWG benchmarking approach](https://github.com/ros-infrastructure/rep/pull/324/files#diff-f230b6aa06d86bf594d8e431300e453ad7343e8f4b1932252b6d36c62

[2022-01-25 08:25] #9 closed

[2022-01-25 11:04] vmayoral commented on #10
Sneak peak 👀  at *some* of the survey data collected so far:

![imagen](https://user-images.githubusercontent.com/1375246/150964201-c334852a-e2e4-4c6d-8f76-3d24452768f5.png)

![imagen](https://user-images.githubusercontent.com/1375246/150964342-ff549b59-ed2a-429c-93da-9c47f55ed70e.png)

![imagen](https://user-images.githubusercontent.com/1375246/150964436-b7b6242e-92a2-45f0-9d80-0472f60361ae.png)

[2022-01-25 11:13] vmayoral commented on #17
Thanks for sharing @soufien-gdaim, to quickly check, do you intent do use ROS 2 in your project? That's the main purpose of this community, to enable ROS 2 hardware acceleration. Please clarify this and if so, are you willing to invest the time to create a  community port for your board (`acceleration_firmware_zc702`)?

From your description, I believe the issue is different though. You're current

[2022-01-25 11:57] vmayoral opened #19 "ROS 2 Hardware Acceleration Working Group 2021 dissemination report"
Summarizing *easily* measurable  dissemination efforts that happened as part of the HAWG [^1]:

## `Articles and posts` in digital media, including robotics communities and social media

| Publication (date & link) | views | reactions |
|-------------|-------|-----------|
|**April**|||
| `LinkedIn` - A review of Physics simulators for robotic applications [week 4-04-2021](https://www.linkedin.com/

[2022-01-25 11:57] #19 closed

[2022-01-26 09:00] vmayoral commented on #10
Thanks for your support @saratpoluri! For now only Reviewer roles or above in the WG have been given access to part of the curated data. Rationale is that various questions are *open ended* within the data, and there're text answers that need to be processed, which will take time.

If you shoot me an e-mail at `v.mayoralv [at] gmail.com` I can try digesting it a bit for you in that particular ques

[2022-01-29 13:31] jlamperez commented on #1
Hi!

Which are the most suitable `ROS_OE_RELEASE_SERIES` and `ROS_DISTRO` values for Petalinux 2021.2?

I am trying with `gategarths` and `galactic` or `rolling` but first [this change](https://github.com/ros/meta-ros/commit/0e373be9d19decddfb7742517285cd7bed55e93f) and now some annoying `Taskhash mismatch`  make my compilation fail.

Any suggestion? Thanks!

[2022-01-31 09:28] vmayoral commented on #1
For new development I'm using `gatesgarth` and `rolling`. This will change in the future but that should get you aligned with me.

Yeah, that's very annoying and I experienced the same myself. There's no easy fix for this AFAIK and seems related to BSP changes introduced while releasing Vitis 2021.2. You can ignore the `Taskhash mismatch` if your artifacts get built or alternatively, remove the fa

[2022-01-31 18:28] jlamperez commented on #1
Yes, you are right, I was able to compile an image yesterday. I took the path of going back in history :smile:

I documented the procedure in [hackster](https://www.hackster.io/jlamperez10/ros-2-in-kria-kv260-with-petalinux-2021-2-92ec3a) using Kria board for those interested.

Thanks!

[2022-02-07 05:46] vmayoral opened #20 "Methodology for ROS 2 Hardware Acceleration"
- [ ] Disclose initial draft of the methodology and discuss with WG

[2022-02-22 09:04] vmayoral commented on #20
<ins>The following proposes a methodology for ROS 2 Hardware Acceleration and demonstrates it with a practical use case studying the computational graph of a simple perception pipeline</ins>.

# Case study: `accelerating ROS 2 perception`

- [Case study: `accelerating ROS 2 perception`](#case-study-accelerating-ros-2-perception)
  - [Methodology for ROS 2 Hardware Acceleration](#methodology-for-ro

[2022-02-22 09:04] vmayoral commented on #9
Benchmarking methodology further discussed at https://github.com/ros-acceleration/community/issues/20#issuecomment-1047570391

[2022-02-22 10:15] vmayoral opened #21 "Merge first hardware accelerators (kernels) into upstream packages"
*Follows from https://github.com/ros-acceleration/community/issues/9 and https://github.com/ros-acceleration/community/issues/20*.

Goal of this ticket is to merge upstream acceleration kernels in two forms a) binaries (bitstream) and b) source code, so that users can leverage them directly from their computational graphs in a simplified manner.

[2022-02-22 10:36] vmayoral commented on #20
@christophebedard and @iluetkeb, you guys might be interested on this and I'd love to hear or read your thoughts about it (a formal complete paper is coming out soon delivering additional details).

@SteveMacenski, connecting this with https://github.com/ros-planning/navigation2/pull/2788 discussion, is the discourse  aligned with what you'd expect (thought as a blueprint that would need to be tra

[2022-02-22 12:30] hyang5 commented on #20
@vmayoral very interesting work of accelerating ROS 2 perception. Look forward to the formal complete paper.
Meanwhile, besides acceleration on FPGA and GPU, any plan to explore acceleration on CPU, by taking advantage of new capabilities that the latest CPU offers?

[2022-02-22 13:08] vmayoral commented on #20
Happy to facilitate you an early draft if you provide me with a personal contact.

I'd definitely be interested in exploring this. Could you elaborate what new capabilities do you have in mind specifically?

[2022-02-22 15:50] christophebedard commented on #20
I'll of course check out the full paper once it's available, but this looks good! The figures are a bit confusing (stacked bar chart implies time durations, but the colours are linked to time events which have no duration), but I do understand the comparisons of course.

I'm wondering what the next optimization/acceleration step is after this, since this is an easy-ish first step. Does the existin

[2022-02-22 16:18] vmayoral commented on #20
Fair enough, there's definitely ground for impromevents in the plots. I built them with the following interpretation in mind: each color represents the time duration up until the specific time event, counting from the previous event. That way, I was able to identify bottlenecks.

From my experience there're three avenues to explore for better tracing capabilities:
- Improve the tracing probes belo

[2022-02-22 18:14] saratpoluri commented on #20
The advantage of the streamlining approach I see is that, you are no longer constrained to custom constructed nodes. Developers can pick and choose and construct their own graph with individual nodes and still leverage graph level optimization. The only caveat being that it is incumbent upon the ROS developer to choose the right set of nodes for the specific accelerator.

However, I am wondering w

[2022-02-22 19:09] christophebedard commented on #20
There's instrumentation in `rmw_cyclonedds` as you probably know (although now that the default was changed to Fast DDS, you need to manually set `RMW_IMPLEMENTATION`), and I have a draft PR with some instrumentation for Cyclone DDS: https://github.com/eclipse-cyclonedds/cyclonedds/pull/898.

This is all you need for normal pub/sub over the network. I'm working on an analysis + a paper to extend/i

[2022-02-22 19:33] vmayoral commented on #20
Agreed, and moreover it's currently *not-that-simple* for software engineers to engage with the streamlining approach since it requires some hardware skills. The methodology described above aims to shed some light into how to *systematically* help ROS developers identify which *Nodes/Components* should be considered for acceleration. At the end of the day, a roboticist spends a significant amount

[2022-02-22 20:10] SteveMacenski commented on #20
It sounds like adding tracing for benchmarks, do hardware acceleration, and then show that that acceleration helps via the benchmarks. Yeah, that makes sense, but the second step within Nav2 requires far more discussion than submitting a PR. We need to chat about what kinds of acceleration we want to have added and how they're added to be cross platform -- assuming (almost certainly) that there ar

[2022-02-22 20:27] saratpoluri commented on #20
This is not a ROS only issue. It is an issue for all open source graph acceleration efforts. Leveraging graph level optimization without a vendor specific feature is the right way to approach it rather than have custom implementations. This is something that needs more attention from all industry participants.

In terms of cross platform standards to write portable code, OpenCL seems appropriate f

[2022-02-22 20:36] SteveMacenski commented on #20
OK, totally agreed. I just wanted to make the point since Victor asked my thoughts. It's certainly not a Nav2 specific (or robotics specific) request :smile:

[2022-02-23 08:51] vmayoral commented on #20
@SteveMacenski that's addressed by our [vendor-agnostic architecture for hardware acceleration](https://github.com/ros-acceleration/community#architecture). See [REP-2008 PR](https://github.com/ros-infrastructure/rep/pull/324) for more details.

In a nutshell, this should provide an abstraction layer for accelerators so that you, as a package maintainer, can remain agnostic to the underlying accel

[2022-02-23 08:52] vmayoral commented on #20
Well said 👍.

@saratpoluri have a look at the discussion at https://discourse.ros.org/t/rep-2008-rfc-ros-2-hardware-acceleration-architecture-and-conventions/22026 and let me know your thoughts. I'd be interested to hear them and discuss things.

[2022-03-07 09:14] vmayoral opened #22 "Update REP-2008 in alignment with Methodology"
Refer to https://github.com/ros-acceleration/community/issues/20 for the methodology.

[2022-03-10 17:47] dirksavage88 opened #23 "Subprojects list"
Hello,

I am trying to add a subproject for the stereo_image_proc accelerated disparity node but I do not see where to add in the subprojects.

should I make a pull request on the image_pipeline repo? The PR would be WIP, but need feedback from community on colcon build errors.

[2022-03-10 18:49] vmayoral commented on #23
@dirksavage88, yeah, just sent a PR directly against https://github.com/ros-acceleration/image_pipeline. Happy to help debug issues together.

[2022-03-29 10:04] vmayoral commented on #23
Closing this ticket @dirksavage88, feel free to open a new one if needed.

[2022-03-29 10:04] #23 closed

[2022-03-29 10:04] vmayoral commented on #20
Fulfilled  second item and disclosed results at https://news.accelerationrobotics.com/hardware-accelerated-ros2-pipelines/.

[2022-03-29 23:23] jwdinius commented on #1
What is the current state of this issue?  The last comment focused on the Ultra96v2 appears to be [this one](https://github.com/ros-acceleration/community/issues/1#issuecomment-1020172491).  @pimartos, did the upgrade to 2021.2 squash the bug you found?  I'm happy to work on this to try to get the firmware artifacts in a state where they can be shared with the community.

[2022-03-30 08:17] vmayoral commented on #1
Thanks for pinging about this @jwdinius.

AFAIK @pimartos stopped his contributions due to personal reasons. He might get back to it once available again, but there's no certainty.

This is great, thanks. I've been trying to secure sponsorship for this, so that the firmware is maintained and well supported over time. That requires users asking for it (which we have 😄 ) and someone/some-organizatio

[2022-03-30 14:03] pimartos commented on #1
Hi @vmayoral and @jwdinius
Yes I had a very busy beginning of the year, I started working in a new company, so I had to put the effort in the new job. Now I am more stabilized, so I can resume the project. Currently I am rebuilding the linux distribution to include ROS Foxy so the hardware accelerated examples can be tested. I have an eye to the XIlinx Ubuntu distro, the apt method is easiert than

[2022-03-31 10:01] vmayoral commented on #22
Done at https://github.com/ros-infrastructure/rep/pull/324#issuecomment-1084356786

[2022-03-31 10:09] vmayoral commented on #17
No progress in here. Closing.

[2022-03-31 10:10] vmayoral commented on #14
No progress nor interest raised to use the *reference system* as a good benchmark for hardware acceleration, instead, the usual ROS stacks with simple uses cases will be used.

Current examples:
- https://github.com/ros-acceleration/community/issues/20#issuecomment-1047570391
- https://news.accelerationrobotics.com/hardware-accelerated-ros2-pipelines/

[2022-03-31 10:10] #14 closed

[2022-03-31 10:11] vmayoral commented on #10
Reporting some updates on this end.
- entries have somewhat stabilized, thinking of closing the pool soon.
- Data has been partially digested as entries stopped coming.

Will continue processing data and release a full report once ready.

[2022-03-31 10:15] vmayoral commented on #21
Reporting progress on this end, most efforts have concentrated so far in pushing first upstream to the ROS 2 buildfarm the core packages of the ROS 2 hardware acceleration architecture so that other ROS stacks (e.g. image_pipeline) can depend on those for introducing acceleration capabilities:

[code]

The following tickets track the progress of the release into Rolling (and soon to come, Humble):

[2022-03-31 10:50] vmayoral opened #24 "ROS 2 Hardware Acceleration Workshop | ROSCon 2022"
The objective of this ticket is to discuss and coordinate the upcoming proposal the HAWG will submit for a workshop during [ROSCon 2022](https://roscon.ros.org/2022/).

Important aspects:
- **deadline**: 2022-05-06
- **Title** *(maximum 70 characters)*
- **Presenter(s)** *(name and affiliation)*
- **Summary** - *for public consumption, used in the program schedule (maximum 100 words)*
- **Descript

[2022-03-31 15:14] vmayoral opened #25 "Robotic Processing Unit (RPU) meta-ticket"
*This ticket tracks the progress of the **Robotic Processing Unit (`RPU`)** [subproject](https://github.com/ros-acceleration/community) of the ROS 2 Hardware Acceleration Working Group. <ins>Content will be updated over time</ins>. In time, a repository will branch out of this effort containing additional resources. Expectation however should be for the discussion to remain in here for organizatio

[2022-04-01 06:48] vmayoral commented on #1
Good to have you back @pimartos!

Yeah, I don't think there will be an official image. AVNET will need to pay Canonical to support Ubuntu officially and these contracts are pretty big. AVNET doesn't seem too interested in sponsoring development on their side (otherwise they'd have reacted in here when I first pinged them) but we shouldn't faith completely neither.

In yesterday's meeting @jwdinius

[2022-04-01 17:05] robertbanderso commented on #1
Hi all, I would like to contribute to this effort as well for the Ultra96V2! I currently have a dedicated build machine and have Petalinux 2021.2 and Vitis 2021.2 installed. Is there a ROS2 version that everyone has synched up on yet?

[2022-04-01 17:16] jwdinius commented on #1
I will be using `rolling` to keep up with the beta release of KRS; see [this](https://xilinx.github.io/KRS/sphinx/build/html/docs/install.html)

[2022-04-01 20:21] pimartos commented on #1
Hi
@vmayoral: Sad to hear that about Avnet (I didn't know how Canonical work). By the way: I was able to purchase a kv260 from Xilinx (20 weeks lead time, but on the road)

@jwdinius and @jlamperez: happy to have help with this =) I think that with the combined effort, this will be possible.
@robertbanderso: good! I have an intermitent access to my building machine

About what version of ROS2 to u

[2022-04-03 01:18] dirksavage88 commented on #1
@pimartos would like to help with the ultra96, but I do not see any in stock anywhere :(

[2022-04-03 18:30] jwdinius commented on #1
Seems like there is renewed interest in this now.  To jump start collaboration on this, I propose we move to a slack or discord channel.  @vmayoral does the working group have a discord or slack space we could create an `ultra96` channel in?

[2022-04-03 23:53] pimartos commented on #1
@dirksavage88: that's are bad news. Maybe a used one?
@jwdinius: I created a discord server `acceleration_firmware_ultra96v2`, maybe we could use it for further discussion

[2022-04-04 11:20] vmayoral commented on #1
Good to see excitement in here!

My suggestion would be to stick to only **one** channel for the life HAWG discussions. Don't really mind which one, but I think it's important so that we don't spread the information too much and it's easy for others to learn/engage/contribute. I proposed a while ago [a Matrix channel](https://matrix.to/#/+hawg:matrix.org) (a security-conscious alternative to Slack

[2022-04-04 18:32] jwdinius commented on #1
Keeping key points in this thread is a good idea.  For troubleshooting and collaborating on building the artifacts for the board, an IM client is the best way to go.  I already think the thread regarding this issue is too cluttered and not easy to index when I try to find relevant and/or helpful information.

I posted a message in the [Matrix chatroom](https://matrix.to/#/+hawg:matrix.org).  It lo

[2022-04-05 01:22] pimartos commented on #1
Hi @jwdinius
I installed Element (both in my laptop and mobile), I was able to find the chatroom (It says something about convert it to a "space"), I can see the members, but I am not able to read anything or write a message :-( (Is the chat room empty?)

[2022-04-05 06:17] vmayoral commented on #1
@pimartos I'm using it in the browser. The link from @jwdinius above works fine. You can try and use [this other one](https://app.element.io/#/room/!wXVMnnDXlUNzkRjNCh:matrix.org) if you prefer. Room's not empty, you should see some comments already there. Chat history is enabled.

[2022-04-24 23:44] pimartos commented on #1
Hi @vmayoral
I made some progress, but I am still not able to load a kernel. When I use __fpgautil__ to load __offloadded_doublevadd_publisher__ the **fpga-manager** tells me that I need __kv260-dp.bit.bin__; I think this file is generated for kv260 board, so I would like to know how can I generate it for ultra96v2. Thanks in advance for any advice about this.
Regards

[2022-04-26 23:59] pimartos commented on #1
Hi @vmayoral
Sorry for not being in the meeting today, I had a problem, my apologies.
I have good and bad news. The good news are that now I am able to load the kernel and run `offloaded_doublevadd_publisher` in the board (I had to replace a .dtbo file in the acceleration firmware).
The bad news are that `ros2 acceleration list` doesn't show anything and to run the example is necessary to load it

[2022-05-17 15:50] coleio opened #26 "Taidacent HEX ZYNQ 7020 FPGA: add community support board"
I would like to use this board to create low cost autonomous vehicles.  Need hw acceleration enabled to process visual odometry.

https://m.alibaba.com/product/1600074686709/lichee-tang-HEX-ZYNQ7020-FPGA-Development.html

[2022-05-18 06:37] vmayoral commented on #26
That's a nice board @coleio. I encourage you to start checking [the instructions to add your board](https://github.com/ros-acceleration/community#adding-your-board) and start contributing.

Updated the issue title to reflect the board itself.

[2022-05-19 03:33] coleio commented on #26
Every time I attempt to install vivado and vitis on my Ubuntu laptop it crashes the machine.  Can I use these tools on a cloud served vm?  I need vivado to create a petalinux image.

[2022-05-19 03:38] vmayoral commented on #26
You should ask that in the Xilinx official forums and try to get there support to address your issues @coleio.

[2022-05-26 15:13] vmayoral commented on #26
Closing in here due to inactivity. Re-open if you have any contributions in mind @coleio

[2022-05-26 15:13] #26 closed

[2022-05-31 08:42] #24 closed

[2022-05-31 12:46] vmayoral opened #27 "Hardware acceleration-enabled production grade OS with ROS 2 Humble using Yocto (Honister)"
**Rationale**: Hardware acceleration involves creating custom compute architectures to improve the computing performance. In a nutshell, by designing specialized acceleration kernels, one can build custom brains for robots to hasten their response time. This becomes specially feasible when using adaptive computing and FPGAs which according to previous benchmarks, deliver best results in robotics w

[2022-05-31 12:46] #27 closed

[2022-06-08 07:13] vmayoral opened #28 "Update community's resources and content"
- Move to Humble
- Add latest HAWG recordings and videos
- Record changes in reference hardware platforms

[2022-06-14 01:29] pimartos commented on #1
Hi @vmayoral and folks,
Finally I got an acceleration firmware for the ultra96v2 board that runs all the examples from krs_alpha 😄

Details are [here](https://github.com/pimartos/acceleration_firmware_ultra96v2)

Please give a try, all the feedback is welcomed 😃

[2022-06-16 15:05] pimartos opened #29 "Krs_beta and Krs 1.0 RC1: Which toolset to use?"
Hi,
I would like to start porting acceleration_firmware_ultra96v2 for krs_beta/1.0. Looking at the [install instrucctions]( https://xilinx.github.io/KRS/sphinx/build/html/docs/install.html) it states that uses Ubuntu 20.04+vitis 2021.2+Ros2 Rolling
But Ros2 Rolling is a development distro, so it changes over time, so it would be better to use Humble (which has LTS up to May 2027). But, if I use Hu

[2022-06-20 07:19] vmayoral commented on #29
Hi @pimartos,

+1 to your effort. Regarding KRS (the Kria Robotics Stack), kindly refer to https://github.com/xilinx/KRS. Note KRS is owned by Xilinx (and I can't speak on their behalf anymore).

For what concerns the HAWG, happy to receive your port of course and to consider it for the [reference hardware platforms](https://github.com/ros-acceleration/community#reference-hardware-platforms). Push

[2022-06-20 07:20] vmayoral commented on #29
Closing in here @pimartos but feel free to re-open or ping me if you still have more questions.

[2022-06-20 07:20] #29 closed

[2022-06-20 07:21] vmayoral commented on #1
This is fantastic @pimartos 👍, very well done! I answerd your questions at https://github.com/ros-acceleration/community/issues/29 and catching up with other open threads. I'll find some time to give that a try and report if I encounter any hurdles.

[2022-06-29 12:32] #1 closed

[2022-06-29 12:33] #28 closed

[2022-06-29 12:34] vmayoral opened #30 "ROS 2 hardware acceleration stack"
The ROS 2 Hardware Acceleration Stack is a series of *extensions to ROS 2 which allow to leverage hardware acceleration and create custom compute architectures providing <ins>a faster ROS 2 execution and a timing-safe event-driven programming interface</ins>*. The stack is composed of 4 key elements and aims to be hardware and vendor-agnostic:

| # | Standard/convention | Title | Rationale |
|---|

[2022-06-29 12:34] #30 closed

[2022-09-29 08:49] #25 closed

[2022-09-29 11:57] vmayoral opened #31 "Robotics MCU, an open source software and hardware ROS 2 microcontroller unit (MCU) powered by RISC-V"
*This ticket tracks the progress of the `Robotics MCU` [subproject](https://github.com/ros-acceleration/community) of the ROS 2 Hardware Acceleration Working Group. Content will be updated as we progress. In time, a repository will branch out of this effort containing additional resources. Expectation however should be for the initial discussion to remain in here for organizational purposes. You c

[2022-10-04 05:54] tcal-x commented on #31
Hello; there may be some things in common with a project I work on, [CFU Playground](https://github.com/google/CFU-Playground), which strives to make it easy to add custom extensions to a RISC-V soft core.   We use open source IP (e.g. [VexRiscv](https://github.com/spinalhdl/vexriscv)) and open source FPGA tools (Yosys, Nextpnr) where possible, to avoid getting tied to any one FPGA vendor.  Our te

[2022-10-04 07:17] vmayoral commented on #31
Thanks @tcal-x, let me have a closer look at those resources. We're also basing ourselves in open source IP ([core-v-mcu](https://github.com/openhwgroup/core-v-mcu)). I'd be interested in your thoughts here and how it compares to [VexRiscv](https://github.com/spinalhdl/vexriscv) in your experience.

[2022-10-04 18:46] tcal-x commented on #31
Yes, the Core-V project has done great work!   I've been following their Extension Interface
 (https://github.com/openhwgroup/core-v-xif)  since it has parallels with the Custom Function Unit (CFU) interface that I use with VexRiscv.  I couldn't tell from the `core-v-mcu` description whether it has an option to  incorporate Core-v-xif (like https://github.com/openhwgroup/cv32e40x)

But even withou

[2022-10-12 03:47] tcal-x commented on #31
@vmayoral another related thing you might find useful (if you don't know about it already) is Antmicro's [Renode](http://renode.io) simulation.   It is particularly tuned for embedded MCU systems with multiple nodes, and has strong support for both Arm and RISC-V.

[2022-11-03 12:03] vmayoral commented on #10
Report got <ins>published [here](https://accelerationrobotics.com/pdf/hardware_acceleration_robotics_2022.pdf)</ins>. Blog post about it [here](https://news.accelerationrobotics.com/2022-hardware-acceleration-report-in-robotics/).

[2022-11-03 12:03] #10 closed

[2022-11-03 14:22] vmayoral opened #32 "RobotPerf, a reference benchmarking suite that is used to evaluate robotics computing performance"
*This ticket tracks the progress of the `RobotPerf` [subproject](https://github.com/ros-acceleration/community) of the ROS 2 Hardware Acceleration Working Group. Content will be updated as we progress. In time, a repository will branch out of this effort and to its [own organization](https://github.com/robotperf) containing additional resources. Expectation however should be for the initial discus

[2022-11-04 13:14] AVJF1996 opened #33 "Question"
Hi, every body.

I want to choose an appropriate mini pc for my robotic application.
I want to know which part of my mini PC I should spend more money on.
The duty of the mini-pc is mainly to collect data from its I/O and emit the data over ROSnetwork, and maybe in the future, some ROS2 packages will be run on this mini-pc too.

As I know, most ROS packages run on the CPU and RAM, also Localhost,

[2022-11-04 14:58] vmayoral commented on #33
Most of these questions are very generic, and not specific about hardware acceleration. This community/group is for hardware acceleration matters.

I'd suggest you bring them to the general [ROS Answers](https://answers.ros.org/questions/). Feel free to circle back in here if you have specific topics about hardware acceleration but our time's limited.

[2022-11-04 14:58] #33 closed

[2022-11-07 06:51] pablogs9 commented on #31
Just for curiosity, which DDS/RTPS compatible implementation is going to be used in this project?

[2022-11-07 12:57] vmayoral commented on #31
@pablogs9 we're still discussing and will start prototyping soon. We have some *preferences* but open to suggestions.

[2022-11-07 12:58] vmayoral commented on #31
@tcal-x I'm still reviewing the material you provided, thanks! Should be able to provide an update to the overall discussion above soon.

[2022-11-10 21:47] aording commented on #32
[Here](https://docs.google.com/presentation/d/1HStVPfiKSirbfqfYh8Ngc31KvUM07M5-oqe6pM-nA5s/edit#slide=id.g17da5d5c522_1_65) are the slides that were presented as part of this kick-off.

[2022-11-10 21:51] jveejay commented on #32
[Here](https://docs.google.com/presentation/d/1HStVPfiKSirbfqfYh8Ngc31KvUM07M5-oqe6pM-nA5s/edit#slide=id.g17da5d5c522_1_65) are the slides we presented as part of this kick-off.

Welcome suggestions, feedback and comments.

[2022-11-12 07:29] vmayoral commented on #32
Thanks a lot for this, added them to the community repo at a29d9bfa2903367c36889f082a7f8474cbd5cced.